@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Marck+Script|Satisfy');

.gratefulContainer{
	background-color:#F1DAC5;
	margin: 2% 10%;
	padding: 2px;
	border-radius:20px;
	text-align:center;
	font-size:20px;
}
#centered{
	text-align:center; 
	margin: 5% 20%;
	border-radius:20px;
}
#centered:hover{
	font-family: 'Dancing Script', cursive;
}

.sparkles{
	font-family:'Satisfy', 'Marck Script' ;
	font-size:125%;
	padding: 2%;

}
.sparkles:hover{
	font-family: 'Marck Script';
}