<div class='spaceyform'>
	<form ngForm >
		
<br>
		<label> Sentence </label>
		<input name="Sentence" id="Sentence" value="sentence" placeholder="Sentence to Input">
<br>		
		<label> EntryDate </label>
		<input name="EntryDate" ng-model="dates" placeholder="Current Date">
<br>
	<button (click)="addTodo(Sentence)">Submit</button>
	<button type="button"> Delete</button>
	<button type="button" > Reset</button>
	</form>

<div>
	<ul>
  <li *ngFor="let todo of (myList | async)">
    {{ todo.content }}
  </li>
</ul>
</div>

</div>
