/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Cabin|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

* {
	font-family: 'Cabin', 'Open Sans', sans-serif;
	color: #53555A;
}
body{
	background-color: #DCC0A7;
}
ul{
	display:inline;
}
li{
	display:inline;
	padding: 2%;

}
a{	
	text-transform: uppercase;
	text-decoration: none;
	color: #CFB49D;
	background-color: #C6EADD;
	border-radius: 5px;
	padding: 10px;
	font-size:30px;
	font-family: 'Berkshire Swash', 'Open Sans', italic;
	text-align:center;
}
a:hover{
	text-transform: lowercase;
	font-family: 'Cabin', sans serif;
}
a:visited{
	color: #CFB49D;	
}
body{
	padding:50px;
}

h1:hover{
	background-color: #CFB49D;
}
#thoughtful{
	color:gray;
	font-style: italic;
}