<title> MindfulApp </title>
<div class="siimple-grid">
	<div style="text-align:center" class="simple-grid-row" >
	  <h1>
	    Welcome to MindfulApp!
	  </h1>
	  <img width="300" alt="App Logo" src="https://d30y9cdsu7xlg0.cloudfront.net/png/25697-200.png">
	</div>
</div>
<h2>Here are some links to help you start: </h2>
<div class="siimple-grid">
	
	<ul>
	  <li>
	    <h2 class="ui medium header"><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
	  </li>

	  <li>
	    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
	  </li>
	  <li>
	    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
	  </li>
	</ul>
	
</div>
