<html>
<body>
<div id="container">
	<h3 class=""> Though Clouds! </h3>


<div class = " [@goals] ">
	<span>Put your thoughts into a little bubble to check out later ({{itemCount}} so far...) </span>
	<span> Careful! None of these will be saved, this is just a trial! </span>
	<br><span id='thoughtful'> {{goalText}} </span> <br>
			<form> 
				<input type="text" class="txt" name='item' placeholder="..." [(ngModel)]="goalText" >
				
				<input type="submit" class='btn' value=" {{btnText}} "  (click)="addItem()"  >
			</form>

		<div class="col" id='grateful'>
			<p class="gratefulContainer" *ngFor = " let goal of goals; let i = index " (click)="updateItem(i)" >
				{{ goal	}}
			</p>
		</div>
	</div>
</div>
<br><br>
<div id = "container " class="[@listGoals] ">
	<span> This is a list of all of your thoughts so far... </span>
		<p id='thoughtful' *ngFor = " let g of listGoals"> 
			{{g}}
		</p>
</div>

<div class=" [@finalList] ">
	<span> Your random thought of the day is... </span>
		<p id='thoughtful' *ngFor = " let l of finalList"> 
			{{l}}
		</p>
</div>

</body>
</html>